.typedClass{
 position: fixed;
 top: 50%;
 left: 50%;
 width: 100%;
 transform: translate(-50%, -50%);
 text-align: center;
 color: #f7a7b5;
 font-family: "Candy Shop";
 font-size: 24px;
//  color: transparent;
//  -webkit-background-clip: text;
//  background-image: repeating-linear-gradient(to right top, #f7a7b5, #03A9F4);
}